@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-montserrat m-0 p-0 scrollbar-thin scrollbar-thumb-neutral-300 hover:scrollbar-thumb-neutral-400 scrollbar-track-neutral-100 overflow-y-auto
    }
    h1 {
      @apply text-4xl font-bold;
    }
    h2 {
      @apply text-3xl font-bold;
    }
    h3 {
      @apply text-2xl font-bold;
    }
    h4 {
      @apply text-xl font-semibold;
    }
    h5 {
      @apply text-lg font-semibold; 
    }
    h6 {
      @apply text-base font-semibold;
    }
}